$primarycolor : #9356DC;
$secondarycolor : #FF79DA;
$tertiarycolor : #99E2D0;

$backgroundprimary : #F3F4F4;
$backgroundsecondary : #E8E7E8 ;
$backgroundoverlay : rgba(255,255,255,1);
$backgroundfooter : #4C4B4D;
$backgroundbtn : #F6EFF6



