@import "./scss/media";
@import "./scss/variable";
@import "./scss/mixins";


/* éléments généraux de la page */

body {
    width: 100%;
    margin: 0;
    @include policetext;
}

.fa-heart {
    color: transparent;
    -webkit-text-stroke: 2px black;

    &::before {
        content: "\f004";
        font-weight: bold;
        transition: color 3s ease-out;
      }

    &:hover::before {
        color: pink;
        cursor: pointer;
      }
}

/* Header */

header {
    @include header
}
header a {
    @include arrow
}

/* Main */

main {
    width: auto;
    height: 1400px;

    img {
        width: 100%;
        height: 250px;
    }

    h2 {
        @include h2
    }

    h3 {
        @include h3
    }

    h4 {
        @include h4
    }

    p {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    button {
        @include order;
        transition: color .5s;

        &:hover {
            opacity: 0.7;
        }
    }
}
#card {
    @include card
}
.menu {
    margin-bottom: 35px;
  }   
.food {
    @include food
}

#order {
    text-align: center;
}

/* Footer */

footer {
    @include footer;

    h4 {
        @include footerh4
    }

    i {
        margin-right: 7px;
        font-size: small;
    }

    a {
        @include footera
    }
} 
.help {
    @include footerhelp
}
#contact {
    @include footercontact
}

/* Responsive for Desktop */
  
@media #{$large-up} {
    body {
        width: 900px;
        margin: auto;
    }
    #card {
        width: 900px;
    }
}

/* Animations Menu - Apparition progressive */

.menu:nth-of-type(1){
    animation: menu 1s both 0s;
}
.menu:nth-of-type(2){
    animation: menu 1s both 2s;
}
.menu:nth-of-type(3){
    animation: menu 1s both 4s;
}

@keyframes menu {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

