@import "./scss/media";
@import "./scss/variable";
@import "./scss/mixins";


/* éléments généraux de la page */

body {
    width: 100%;
    margin: 0;
    @include policetext;
}

/* Header */

header {
    @include header
}
header a {
    @include arrow
}

/* Main */

main {
    width: auto;
    height: 1400px;
}
main img {
    width: 100%;
    height: 250px;
}
#card {
    @include card
}
.menu {
    margin-bottom: 35px;
  }  
main h2 {
    @include h2
}
main h3 {
    @include h3
}
main h4 {
    @include h4
}
.food {
    @include food
}
p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
#order {
    text-align: center;
}
button {
    @include order
}

/* Footer */

footer {
    @include footer
}
  
footer h4 {
    @include footerh4
}
  
footer a {
    @include footera
}
  
.help {
    @include footerhelp
}
  
#contact {
    @include footercontact
}

/* Responsive for Desktop */
  
@media #{$large-up} {
    body {
        width: 900px;
        margin: auto;
    }
    #card {
        width: 900px;
    }
}