@charset "UTF-8";
/* Tablet */
/* Desktop */
/* mixins générales des polices */
/* mixins du Header */
/* mixins des styles */
/* mixins des boutons */
/* mixins des titres */
/* mixins générales */
/* mixins du Footer */
/* éléments généraux de la page */
body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto';
}

.fa-heart {
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.fa-heart::before {
  content: "\f004";
  font-weight: bold;
  -webkit-transition: color 3s ease-out;
  transition: color 3s ease-out;
}

.fa-heart:hover::before {
  color: #b056c9;
  cursor: pointer;
}

/* Header */
header {
  position: relative;
  text-align: center;
  padding: 15px 0;
}

header a {
  position: absolute;
  top: 22px;
  left: 15px;
}

/* Main */
main {
  width: auto;
  height: 1400px;
}

main img {
  width: 100%;
  height: 250px;
}

main h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 93%;
  padding: 25px 0;
  font-family: 'Shrikhand', sans-serif;
}

main h3 {
  text-transform: uppercase;
  margin-left: 4%;
  color: grey;
  width: 12%;
  font-size: 1.1rem;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

main h4 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

main p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

main button {
  width: 210px;
  margin: 20px;
  border-radius: 30px;
  padding: 15px;
  border-style: none;
  color: white;
  font-size: 1em;
  opacity: 1;
  background: #a122c3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(29%, rgba(161, 34, 195, 0.950018)), to(#d521da));
  background: linear-gradient(0deg, rgba(161, 34, 195, 0.950018) 29%, #d521da 100%);
  -webkit-box-shadow: 3px 6px 9px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 3px 6px 9px 0px rgba(0, 0, 0, 0.13);
  -webkit-transition: color .5s;
  transition: color .5s;
}

main button:hover {
  opacity: 0.7;
}

#card {
  position: absolute;
  width: 100%;
  height: 1230px;
  top: 270px;
  background: #F3F4F4;
  border-radius: 30px 30px 0 0;
}

/* Hover - Selection d'un plat */
.menu {
  margin-bottom: 35px;
}

.food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  margin: auto;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  background-color: #99E2D0;
  width: 0;
  height: 65px;
  border-radius: 0 15px 15px 0;
}

i.far.fa-check-circle {
  background-color: #99E2D0;
  font-weight: bold;
  color: white;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 93%;
  height: auto;
  cursor: pointer;
  position: relative;
}

.selection:hover .food {
  width: 80%;
  border-radius: 15px 0 0 15px;
}

.selection:hover .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

#order {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 1110px;
  width: 100%;
}

#order2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 1130px;
  width: 100%;
}

/* Footer */
footer {
  background: #4C4B4D;
  color: white;
  height: 210px;
  width: auto;
  padding-left: 7%;
  font-size: 1.2em;
  margin-top: 30px;
}

footer h4 {
  margin: 0;
  font-style: italic;
  font-family: roboto;
  padding: 19px 0;
  font-weight: bold;
}

footer i {
  margin-right: 7px;
  font-size: small;
}

footer a {
  padding-left: 2px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.help {
  margin-bottom: 5px;
}

#contact {
  line-height: 28px;
}

/* MEDIA QUERIES */
/* Responsive for Desktop */
@media only screen and (min-width: 1000px) {
  body {
    width: 900px;
    margin: auto;
  }
  #card {
    width: 900px;
  }
}

/* ANIMATION */
/* Animation Menu - Apparition progressive par groupe */
.menu:nth-of-type(1) {
  -webkit-animation: menu 1s both 0s;
          animation: menu 1s both 0s;
}

.menu:nth-of-type(2) {
  -webkit-animation: menu 1s both 2s;
          animation: menu 1s both 2s;
}

.menu:nth-of-type(3) {
  -webkit-animation: menu 1s both 4s;
          animation: menu 1s both 4s;
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* Animation selection d'un plat */
/*# sourceMappingURL=menu.css.map */