@charset "UTF-8";
/* Tablet */
/* Desktop */
/* mixins générales des polices */
/* mixins du Header */
/* mixins des styles */
/* mixins des boutons */
/* mixins des titres */
/* mixins générales */
/* mixins du Footer */
/* Elément parent du loader */
.loader-container {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Création du loader */
.loader {
  width: 120px;
  height: 120px;
  border: 16px solid #E8E7E8;
  border-radius: 50%;
  border-top: 16px solid #FF79DA;
  border-bottom: 16px solid #9356DC;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  /* Placement du loader au milieu de la page */
  top: 50%;
  left: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

/* Animation du loader */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Mettre fin à l'animation du loader */
.shutdown {
  -webkit-animation: shutdown 3s linear 3s both;
          animation: shutdown 3s linear 3s both;
}

@-webkit-keyframes shutdown {
  0% {
    opacity: 1;
    z-index: 999;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: 0;
    display: none;
  }
}

@keyframes shutdown {
  0% {
    opacity: 1;
    z-index: 999;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: 0;
    display: none;
  }
}

/* éléments généraux de la page */
body {
  width: auto;
  margin: 0;
  font-family: 'Roboto';
}

h2 {
  width: 80%;
  font-family: 'Shrikhand', sans-serif;
}

/* Header */
header {
  position: relative;
  text-align: center;
  padding: 15px 0;
}

header h1 {
  width: 80%;
  margin: auto;
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.5rem;
}

header p {
  font-size: 1.1em;
  margin: 10px 0;
}

header button {
  width: 210px;
  margin: 20px;
  border-radius: 30px;
  padding: 15px;
  border-style: none;
  color: white;
  font-size: 1em;
  background: #a122c3;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(161, 34, 195, 0.950018)), to(#db92dd));
  background: linear-gradient(0deg, rgba(161, 34, 195, 0.950018) 0%, #db92dd 100%);
  -webkit-box-shadow: 3px 6px 9px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 3px 6px 9px 0px rgba(0, 0, 0, 0.13);
  -webkit-transition: color 1s;
  transition: color 1s;
}

header button:hover {
  background: #dd0deb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(48%, #dd0deb), to(#db92dd));
  background: linear-gradient(0deg, #dd0deb 48%, #db92dd 100%);
}

#logo {
  padding: 15px 0;
}

#localisation {
  font-size: 1em;
  background: #E8E7E8;
  padding: 10px 40px;
}

#localisation input {
  background: transparent;
  border-style: none;
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 10px;
  text-align: center;
  width: 145px;
}

#restaurants {
  background: #F3F4F4;
  padding: 30px;
  font-family: 'Shrikhand', sans-serif;
}

#btnpink {
  background: #F6EFF6;
}

/* Form */
form {
  width: 85%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 15px 0 75px 0;
}

form button {
  background: #F3F4F4;
  border-radius: 20px;
  padding: 35px;
  margin-bottom: 20px;
  border-style: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1em;
  position: relative;
  -webkit-box-shadow: 3px 6px 9px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 3px 6px 9px 0px rgba(0, 0, 0, 0.13);
}

form i {
  position: absolute;
  left: 40px;
  top: 27px;
}

form b {
  position: absolute;
  left: 85px;
  top: 27px;
}

.circle {
  height: 20px;
  width: 20px;
  color: white;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 27px;
}

i.fas.fa-store {
  color: #9356DC;
}

/* Main */
main {
  width: auto;
  height: 1215px;
  background: #F3F4F4;
  padding: 20px;
}

main article {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 260px;
}

main article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}

main article span {
  position: absolute;
  background-color: #89E9C5;
  color: #0E8055;
  font-weight: bold;
  left: 70%;
  top: 5%;
  padding: 5px 12px;
  border-radius: 3px;
}

.image {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  color: black;
  border-radius: 0 0 15px 15px;
  height: 30%;
  width: 100%;
  bottom: 0;
  padding: 13px;
}

.overlay h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  font-size: 1.3em;
  font-family: 'Shrikhand', sans-serif;
}

.overlay p {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.fa-heart {
  font-size: 1.3em;
}

/* Footer */
footer {
  background: #4C4B4D;
  color: white;
  height: 210px;
  width: auto;
  padding-left: 7%;
  font-size: 1.2em;
}

footer h4 {
  margin: 0;
  padding: 19px 0;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer img {
  width: 100px;
  margin-top: 10px;
}

footer i {
  margin-right: 7px;
  font-size: small;
}

footer a {
  padding-left: 2px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.help {
  margin-bottom: 5px;
}

#contact {
  line-height: 28px;
}

/* Responsive for Tablet */
@media only screen and (min-width: 1000px) {
  body {
    width: 900px;
    margin: auto;
  }
}

/* Responsive for Desktop */
@media only screen and (min-width: 1000px) {
  body {
    width: 900px;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main article {
    width: 49%;
  }
  main article span {
    left: 74%;
  }
}
/*# sourceMappingURL=style.css.map */